# Created by https://www.gitignore.io/api/labview
# Edit at https://www.gitignore.io/?templates=labview

### LabVIEW ###
# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# End of https://www.gitignore.io/api/labview

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# End of https://www.gitignore.io/api/microsoftoffice
### LibreOffice ###
# LibreOffice locks
.~lock.*#

# End of https://www.gitignore.io/api/libreoffice